<widget id="com.Beetleman.TrollDuck" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
  <name>TrollDuck</name>
  <description>
    An sample Apache Cordova + Backbone application.
  </description>
  <author email="mateusz.probachta@gmail.com" href="https://github.com/beetleman">
    Mateusz Probachta
  </author>
  <content src="cordova.html" />
  <access origin="*" />
  <preference name="Fullscreen" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="webviewbounce" value="false" />
  <preference name="Orientation" value="portrait" />
</widget>
